<div class="container">
    <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
        <app-update-roles [role]="updatedRole"
        (RoleUpdated)= "RoleUpdated($event)" 
        [ajout]="ajout"></app-update-roles>
</div>
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                     <tr> <th>Id</th>
                        <th>Role</th> </tr>
                </thead>
                <tbody *ngFor="let rol of role">
                    <tr>
                        <td>{{rol?.role_id}}</td>
                        <td>{{rol?.role}}</td>
                        <td><a class="btn btn-success" (click)="updateRole(rol)">modifier</a></td>

                    </tr>
                </tbody>
             </table>
        </div>
    </div>
</div>
